<template>
  <v-container class="browse" fluid>
    <v-subheader class="px-0">Folders</v-subheader>
    <v-row v-if="folders.length === 0">
      <v-col cols="12">
        <v-alert type="info" class="caption" dense text>
          No folder was found
        </v-alert>
      </v-col>
    </v-row>
    <v-row v-else dense>
      <v-col
        v-for="folder in folders"
        :key="folder.name"
        class="folder-entry"
        cols="12"
        sm="6"
        md="4"
        lg="3"
        xl="2"
      >
        <v-card outlined>
          <v-list-item class="px-1">
            <v-icon>folder</v-icon>
            <v-list-item-content>
              <v-list-item-title>{{ folder.name }}</v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn color="primary" class="px-1" text @click="open(folder.path)">Open</v-btn>
            </v-list-item-action>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
    <v-subheader class="px-0">Images</v-subheader>
    <v-row v-if="images.length === 0">
      <v-col cols="12">
        <v-alert type="info" class="caption" dense text>
          No image was found
        </v-alert>
      </v-col>
    </v-row>
    <v-row v-else dense>
      <v-col
        v-for="(file, i) in images"
        :key="i"
        class="file-entry"
        cols="6"
        sm="4"
        md="3"
        lg="2"
        xl="1"
      >
        <image-card
          :image="file"
          @image:click="
            imageViewer.enabled = true
            imageViewer.index = i
          "
        />
      </v-col>
    </v-row>
    <image-viewer
      :visible.sync="imageViewer.enabled"
      :begin-index="imageViewer.index"
      :images="images"
    />
  </v-container>
</template>

<script>
import axios from 'axios'
import ImageCard from '@/components/ImageCard.vue'
import ImageViewer from '@/components/ImageViewer.vue'

export default {
  components: {
    'image-card': ImageCard,
    'image-viewer': ImageViewer,
  },
  data: function () {
    return {
      folders: [],
      images: [],
      imageViewer: {
        enabled: false,
        index: 0,
      },
    }
  },
  watch: {
    $route() {
      this.reload()
    },
  },
  mounted() {
    this.reload()
  },
  methods: {
    reload() {
      this.browse(this.$route.query.path)
    },
    open(path) {
      if (this.$route.query.path !== path) {
        // FIXME do not clear other query strings
        this.$router.push(!path || path === '.' || path === '/' ? {} : { query: { path: path } })
      }
    },
    browse(path) {
      axios
        .post('/api/files/browse', {
          path: path,
        })
        .then((response) => {
          this.folders = []
          this.images = []
          response.data.entries.forEach((e) => {
            if (e.type === 'folder') {
              this.folders.push(e)
            } else if (e.type === 'file') {
              const ext = e.name.split('.').pop().toLowerCase()
              if (ext === 'png' || ext === 'jpg' || ext === 'gif') {
                e.active = false
                this.images.push(e)
              }
            }
          })
        })
        .catch((error) => console.error(error))
    },
  },
}
</script>

<style scoped>
html {
  overflow-x: hidden;
}
</style>
