<template>
  <v-container class="login fill-height" fluid>
    <login-form @success="onSuccess()" />
  </v-container>
</template>

<script>
import LoginForm from '@/components/LoginForm.vue'

export default {
  components: {
    'login-form': LoginForm,
  },
  methods: {
    onSuccess() {
      this.$router.push('/')
    },
  },
}
</script>

<style scoped>
html {
  overflow-y: hidden;
}
</style>
