<template>
  <v-lazy>
    <v-card>
      <v-img
        :src="'/api/files/fetch?path=' + image.path"
        height="180px"
        @click="$emit('image:click', this)"
      />
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon color="red">favorite</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon color="amber">bookmark</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon color="blue">share</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-lazy>
</template>

<script>
export default {
  props: {
    image: {
      type: Object,
      default: null,
    },
  },
}
</script>
