<template>
  <div v-show="visible" class="overlay">
    <v-container class="fill-height" fluid>
      <v-row>
        <v-col>
          <v-carousel v-model="imageIndex" height="100%" hide-delimiters continuous>
            <v-carousel-item v-for="(image, i) in images" :key="i">
              <v-img :src="'/api/files/fetch?path=' + image.path" contain max-height="90%"></v-img>
            </v-carousel-item>
          </v-carousel>
        </v-col>
      </v-row>
    </v-container>
    <v-btn class="close-btn white--text" icon @click="$emit('update:visible', false)">
      <v-icon>close</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  props: {
    beginIndex: {
      type: Number,
      default: 0,
    },
    visible: {
      type: Boolean,
      default: false,
    },
    images: {
      type: Array,
      default: new Array(),
    },
  },
  data: function () {
    return {
      imageIndex: this.beginIndex,
    }
  },
}
</script>

<style scoped>
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9;
}

.close-btn {
  position: fixed;
  left: 50%;
  margin-left: -20px !important;
  bottom: 5%;
}
</style>
