<template>
  <v-container class="login-form" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Login Form</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field
                v-model="username"
                label="Username"
                prepend-icon="person"
                type="text"
                :rules="[rules.username]"
              />
              <v-text-field
                v-model="password"
                label="Password"
                prepend-icon="lock"
                type="password"
                :rules="[rules.password]"
              />
            </v-form>
          </v-card-text>
          <v-scale-transition>
            <v-alert
              v-show="errorMessage"
              class="mx-5 pa-2 caption error-message"
              type="error"
              text
              dense
            >
              {{ errorMessage }}
            </v-alert>
          </v-scale-transition>
          <v-card-actions>
            <v-spacer />
            <v-btn
              color="primary"
              class="px-5"
              :disabled="isLoading || !allowSubmission"
              :loading="isLoading"
              text
              @click="submit()"
            >
              Login
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  data: function () {
    return {
      username: null,
      password: null,
      rules: {
        username: (value) => {
          if (!value) return 'Username is required'
          return true
        },
        password: (value) => {
          if (!value) return 'Password is required'
          return true
        },
      },
      isLoading: false,
      errorMessage: null,
    }
  },
  computed: {
    allowSubmission() {
      return Boolean(this.username) && Boolean(this.password)
    },
  },
  methods: {
    submit() {
      this.isLoading = true
      this.errorMessage = null
      axios
        .post('/api/login', {
          username: this.username,
          password: this.password,
        })
        .then(() => {
          this.$emit('success')
        })
        .catch((error) => {
          if (error.response.status === 401) {
            this.errorMessage = error.response.data.error
          } else {
            this.errorMessage = 'An unknown error just occurred'
          }
          this.isLoading = false
        })
    },
  },
}
</script>

<style scoped>
.error-message >>> .v-alert__icon.v-icon {
  margin-right: 8px;
}
</style>
