<template>
  <div id="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
import Vue from 'vue'

// register layouts
Vue.component('default-layout', require('@/layouts/Default.vue').default)
Vue.component('no-sidebar-layout', require('@/layouts/NoSidebar.vue').default)

export default {
  name: 'App',
  computed: {
    layout() {
      return (this.$route.meta.layout || 'default') + '-layout'
    },
  },
}
</script>
