<template>
  <v-app>
    <v-app-bar app clipped-left color="primary">
      <v-btn icon @click="drawer = !drawer">
        <v-icon>menu</v-icon>
      </v-btn>
      <span class="title ml-3 mr-5 white--text">Media Hub</span>
      <v-spacer />
      <v-text-field
        class="d-none d-sm-flex search-box"
        solo
        flat
        dense
        hide-details
        label="Search"
        prepend-inner-icon="search"
      />
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app clipped color="grey lighten-4">
      <v-list dense class="grey lighten-4">
        <template v-for="(item, i) in items">
          <v-row v-if="item.heading" :key="i" align="center">
            <v-col cols="6" class="py-0">
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-col>
            <v-col v-if="item.action" cols="6" class="text-right py-0">
              <v-btn small text>{{ item.action }}</v-btn>
            </v-col>
          </v-row>
          <v-divider v-else-if="item.divider" :key="i" dark class="my-4" />
          <v-list-item v-else :key="i" link :href="item.href">
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="grey--text">
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <slot />
    </v-content>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: null,
    items: [
      { icon: 'home', text: 'Home', href: '/' },
      { icon: 'dns', text: 'Browse', href: '/browse' },
      { divider: true },
      { heading: 'Pinned Tags', action: 'edit' },
      { icon: 'add', text: 'Create new tag' },
      { divider: true },
      { icon: 'archive', text: 'Archive' },
      { icon: 'delete', text: 'Trash' },
      { divider: true },
      { icon: 'settings', text: 'Settings' },
      { icon: 'help', text: 'Help' },
    ],
  }),
}
</script>

<style scoped>
.v-navigation-drawer__border {
  display: none;
}

.search-box {
  max-width: 240px;
}

.search-box.v-text-field.v-input--dense >>> .v-icon {
  margin-top: 2px;
}
.search-box.v-text-field.v-input--dense >>> .v-label {
  top: calc(50% - 9px);
}
</style>
