<template>
  <v-app>
    <v-app-bar app clipped-left color="primary">
      <span class="title ml-3 mr-5 white--text">Media Hub</span>
    </v-app-bar>

    <v-content>
      <slot />
    </v-content>
  </v-app>
</template>
